.courses {
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 15px;
  margin: 1rem auto 1rem auto;
}

.courses div {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.courses div p {
  background-color: #283541;
  list-style-type: none;
  width: 33%;
  padding: 2px;
  display: flex;
  margin: 5px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.courses span {
  font-size: 15px;
  margin-top: 5px;
}

.courseicon {
  font-size: 35px;
}
