.login {
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
}

.login_header {
  font-size: 25px;
  text-align: center;
}

.login_phone {
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.password {
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.login_button {
  background-color: #ff4747;
  border-radius: 10px;
  padding: 1rem;
  font-size: 25px;
  color: white;
}

.login_back {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.goback {
  margin: 5px auto auto 5px;
}

.register_on_login {
  text-decoration: none;
  color: #ff4747;
}

.login i {
  cursor: pointer;
  position: absolute;
  top: 33.5%;
  z-index: 2;
  right: 7%;
  color: #ff4747;
}

.login_info {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .login i {
    top: 29.5%;
    right: 15%;
  }
  .login {
    width: 80%;
    margin: auto;
  }
}
