button {
  background-image: linear-gradient(to right, #ff4747, #ff4880);
  border-radius: 30px;
  padding: 10px 2rem;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

button :any-link {
  text-decoration: none;
  color: white;
}
